

.navbar-brand {
    margin-left: 100px;
    
}


.nav a{
    margin-right: 50px;
    color: white;
    font-weight: 500;
    
}

// nav li a{
// // color:white;
// // background-color: #2874f0;
// }
.searchbar{
color:blue;
width: 400px;
    // font-weight: 500;
    background-color:white;
    border-radius: 2px;
    height: 32px;
    padding: 5px 30px;
    border: 1px solid white;
   
}

.login a{
    border: 1px solid white;
    border-radius: 3px;
    background-color: #fff;
    color: #2874f0;
    height: 32px;
   padding: 5px 20px; 
   margin-left: 20px;
 
font-weight: 500;
text-align: center;
   
}

img{
height: 66px;
padding: auto;
margin: auto;
// text-decoration: none;
// text-align: center;

}
section a{
    margin: 27px;
    text-decoration: none;
}


h6{
    text-align: center;
    color: black;
}
.cart-icon{
    color: white;
}
.modal-dialog{
    max-width: 600px;
}