.sign-in{
    .sign-in-logo{
        width: 200px;
        background-color: blue;
    }

}
.sign-in-title{
    margin: 20px 25px;
   color: white;
   font-size: larger;
}

.sign-in-form{
margin: 20px auto;
}

.sign-up-link{
 cursor: pointer;
 text-decoration: none;
 text-align: center;
 
}
